<html>
<head>
    <title>Shopping List - {{title}}</title>
    <link rel='stylesheet' href={{url_for('static', filename='/add_item.css')}}>
</head>
<header>
    <h1>New Item</h1>
    <ul>
        <li>
            <a href="/list">Back to list</a>
        </li>
    </ul>
</header>
<body>
        <div id = 'add_item_form'>
            <form action='/add_item' method='post'>
                <label for='name'>Name</label>
                <input type='text' name='name' id='name'>
                <br>
                <label for='price'>Price</label>
                <input type='number' name='price' id='price' step=0.01 value = 0>
                <br>
                <label for='quantity'>Quantity</label>
                <input type='number' name='quantity' id='quantity' value = 0>
                <br>
                <input type='submit' value='Add item'>
            </form>
        </div>
        <div id = 'message'>
        {{message}}
        </div>
</body>
<footer>

</footer>
</html>