{% extends 'base.html' %}
    {% block content %}
    
    {% for item in shopping_list %}
        <div id = 'item'>
            <h3>{{item.name}}:</h3>
            <p>
                Quantity: {{item.quantity}}
                <br>
                {% if item.quantity >= 5 %}
                    Price: {{'{:.2f}'.format(item.price * item.quantity)}}
                    <br> <small><i>(includes 10% multi-buy discount)</i></small>
                {% else %}
                    Price: {{'{:.2f}'.format(item.price * item.quantity)}} 
                {% endif %}
                <br> 
                {% if item.bought %}
                    Bought: <span>&#9989;</span>
                {% else %}
                    Bought: <span>&#10060;</span>
                {% endif %}
            </p>
            <form action='/list/delete/{{shopping_list.index(item)}}' method='post'>
                <input type='submit' value='Delete item'>
            </form>
        </div>
    {% endfor %}

    {% endblock %}