{% extends 'base.html' %}
    {% block content %}
    
    {% for item in shopping_list %}
    {% if not item.bought %}
        <div id = 'item'>
            <h3>{{item.name}}:</h3>
            <p>
                Quantity: {{item.quantity}}
                <br>
                {% if item.quantity >= 5 %}
                    Price: {{'{:.2f}'.format(item.price * item.quantity)}} (includes 10% multi-buy discount)
                {% else %}
                    Price: {{'{:.2f}'.format(item.price * item.quantity)}} 
                {% endif %}
                <br> 
                    Bought: <span>&#10060;</span>
            </p>
            <form action='/list/delete/{{shopping_list.index(item)}}' method='post'>
                <input type='submit' value='Delete item'>
            </form>
        </div>
    {% endif %}
    {% endfor %}

    {% endblock %}